@import '../../styles/variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  background-color: $mediumGray;
  font-family: $fontPrimary;
  border: none;
}
