@import '../../styles/variables';
@import '../../styles/mixin';
.container {
  background-color: white;
  width: 30%;
  min-width: 400px;
  height: 60%;
  min-height: 600px;
  padding: 5px 25px 25px;
  box-shadow: 1px 5px 5px #635FC740;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  align-self: center;
  font-size: 40px;
  font-weight: bold;
  font-family: $fontPrimary;
  @include gradientText();
}
.alert {
  color: #880000;
}
.link {
  color: #828FA3;
  font-weight: bold;
}
.button {
  align-self: center;
}
