@import '../../styles/variables';
@import '../../styles/mixin';
.container {
  display: flex;
  flex-direction: column;
  font-family: $fontPrimary;
}
.labelContainer{
 display: flex;
  margin-bottom: 10px;
  height: 25px;
}
.label {
  font-size: 22px;
  @include gradientText();
  color: $darkGray;
}
.inputContainer {
  position: relative;
}
.input {
  background-color: white;
  color: $darkGray;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(205,0,185,1);
  padding-left: 35px;
  padding-bottom: 10px;
  font-family: $fontPrimary;
  font-weight: 700;
  font-size: 16px;
  &:focus {
    outline-color: transparent;
  }
}
.iconContainer {
  position: absolute;
  z-index: 1;
}
.alert {
  transform: translateY(-15px);
  color: red;
}
