.logo {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: sans-serif;
  padding: 1rem;


  h1 {
    margin: 0;
    width: fit-content;
    font-size: 3rem;
  }

  .dev {
    display: flex;
    justify-content: space-between;

    p{
      font-size: 0.7rem;
    }
  }

  .data {
    display: flex;
    justify-content: space-between;

    p {
      font-size: 0.7rem;
    }
  }

  .dev > p:first-of-type {
    color: red;
  }

  p {
    margin: 0;
  }

  p:not(:last-child) {
    margin-right: 0.5rem;
  }

}