@import '../../styles/variables';
@import '../../styles/mixin';
.container {
  display: flex;
  flex-direction: column;
  font-family: $fontPrimary;
}
.labelContainer{
 display: flex;
  margin-bottom: 10px;
  height: 25px;
}
.label {
  font-size: 22px;
  @include gradientText();
  color: $darkGray;
}
.inputContainer {
}
.input {

}
.iconContainer {
  position: absolute;
  left: 40px;
  bottom: 17.5px;
  z-index: 1;
}
.alert {
  transform: translateY(-15px);
  color: red;
}
