@import '../../styles/_variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 200px;
  height: 40px;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: $blue;
  color: white;
  font-family: $fontPrimary;
}
