@import '../../styles/_variables';

.header {
  display: flex;
  width: 100vw;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3%;
  background-color: black;
  color: white;
}
.header :nth-child(2) {
  display: flex;
  width: 85%;
  justify-content: flex-end;

}
.header ul {
  display: flex;
  li {
    list-style-type: none;
    width: 100px;
  }
}
.leftNav {
  display: flex;

  ul {

  }
}



